<div class="hero">
    <img src="https://isoflat.com/wp-content/uploads/2019/02/banner.jpg">
</div>

<section class="main-grid">
    <% projects.each do |project| %>
        <div class="content-block">
            <div class="image-block"><img
                    src="<%= project["project_main_img"]%>">
            </div>
            <div class="info-block">
                <div class="user-info">
                <h3> <%= project["project_title"] %></h3>
                <p> <%= project["project_author"]%> </p>
                </div>
                <div class="reactions">
                    <p>Likes: </p>
                </div>
            </div>
        </div>
        <% end %>
</section>