<div class="hero">
    <img src="https://mir-s3-cdn-cf.behance.net/8cc54090a0e9dfac259cef0accebf0b4/7d24d1ae-d03b-421d-b297-8095156d5c93_rwc_0x472x1920x211x1920.png?h=75382a0f7e7d29473041ba03107428d6">
</div>

<section class="main-grid">
    <% projects.each do |post| %>
        <div class="content-block">
            <div class="image-block"><img
                    src="<%= post["project_main_img"]%>">
            </div>
            <div class="info-block">
                <div class="user-info">
                <h3> <%= post["project_title"] %>
                </h3>
                </div>
                <p> <%= post["project_about"]%> </p>
                <div class="reactions">
                    <p>Likes: </p>
                </div>
                <form action="/create" method="POST">
                    <input type="hidden" name="_method" value="delete"/>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
        <% end %>
</section>