<div class="hero">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/34e71376887485.5c770007b4927.jpg">
</div>

<section class="main-grid">
    <% projects.each do |post| %>
        <div class="content-block">
            <div class="image-block"><img
                    src=<%= post["thumbnail_img"]%>>
            </div>
            <div class="info-block">
                <div class="user-info">
                <h2> <%= post["author"] %>
                </h2>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                <div class="reactions">
                    <p>Likes: </p>
                </div>
                <form action="/planets/edit" method="POST">
                    <input type="hidden" name="_method" value="PUTS"/>
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
        <% end %>
</section>