<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Designer World</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="global-nav">
            <section class="logo"><a href="/"><h2>Dsign</h2></a></section>
            <section class="nav">
                <ul>
                    <a href="dsad">
                        <li>Explore</li>
                    </a>
                    <a href="dsd">
                        <li>Categories</li>
                    </a>
                    <a href="dsd">
                        <li>Abc</li>
                    </a>
                    <a href="dsds">
                        <li>Def</li>
                    </a>
                    <a href="dsds">
                        <li>Ghi</li>
                    </a>
                </ul>
            </section>
            <section class="search-bar">
            <input type="text" placeholder="Search..">
            </section>

            <% if is_logged_in? %>
            <section class="login">


         
        
            <p> Welcome, <%= sessions['username'] %>!</p>
            <a href="/create">Upload</a>
           

            
             </section>
            <section class="avatar-pic-logged-in">
             <div class="drop-down">

            
             <img src="https://www.pasrc.org/sites/g/files/toruqf431/files/styles/freeform_750w/public/2021-03/blank-profile-picture-973460_1280.jpg?itok=QzRqRVu8">


                <div class="drop-down-content">
                    <a href="/login"><li>Your Dashboard</li></a>
                    <a href="/sign_up"><li>Your Profile</li></a>
                    <a href="/create">Settings</a>
                    <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Logout"/>
                    </form>
                    </div>
            </div>
            </section>
            <% else %>

            <section class="login">
                <ul>
                    <a href="/login"><li>Log in</li></a>
                    <a href="/sign_up"><li>Sign Up</li></a>
                </ul> 

            </section>
            <section class="avatar-pic">
             <img src="https://www.pasrc.org/sites/g/files/toruqf431/files/styles/freeform_750w/public/2021-03/blank-profile-picture-973460_1280.jpg?itok=QzRqRVu8">
            </section>
            <% end %>

    
        </div>
    </header>
    <main>
        <%= yield %>
    </main>
</body>

</html>