
<div class="sign-up-card">
<div class="sign-up-info">
<h1>Log in</h1>
<p>Enter your details below to log in</p>
</div>

<form class='sign-up-forms' action="/sessions" method="POST">
  <input type="email" placeholder="Enter Email" name="email">
    <%= error_message %>
  <input type="password" placeholder="Password" name="password">
  <button class="sign-up-button">LOG IN</button>
</form>

</div>