<h1>Your Posts </H1>

<div class="content-block">

<% projects.each do |post| %>
            <div class="image-block"><img
                    src="<%= post["project_main_img"]%>">
            </div>
            <div class="info-block">
                <div class="user-info">
                <h3> <%= post["project_title"] %></h3>
                <p> <%= post["project_author"]%> </p>
                </div>
                <div class="reactions">
                    <p>Likes: </p>
                </div>
                <form action="/create/<%= post["id"] %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE"/>
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
<% end %>

</div>