
<div class="sign-up-card">
<div class="sign-up-info">
<h1>Sign up</h1>
<p>Enter your detials below to create an account!</p>
</div>

<form class='sign-up-forms' action="/users" method="POST">
<input type="text" placeholder="username" name="username">
  <input type="email" placeholder="Enter Email" name="email">
  <input type="password" placeholder="Password" name="password">
  <button class="sign-up-button">SIGN UP</button>
</form>

</div>s